$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$orange-color: #FA9500;
$font-stack: 'IBM Plex Sans', sans-serif;

@mixin center {
    margin: 25px;
}

@mixin font {
    font-family: $font-stack;
    color: $primary-text-color;
}

@mixin dsGrid($min, $fracc: 1fr, $gap: 1.5rem) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, $fracc));
    gap: $gap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
}

nav {
    @include dsGrid(120px, 1fr, 20px);

    h3 {
        color: $primary-text-color;
        font-family: $font-stack;
        font-size: 20px;
        font-weight: 400;
    }

    button {
        border: none;
        background: none;
        cursor: pointer;

    }

    ul {
        @include center;
    }

    .icons {
        display: flex;
        justify-content: end;
        gap: 10px;
    }

    li {
        list-style: none;

        svg {
            width: 22px;
        }

        .cart,
        .profile,
        .wishlist {
            display: none;
        }
    }

}

main {
    .section-main {
        @include center;
        @include dsGrid(320px, 2fr, 20px);

        .image-impact {
            width: 100%;

            img {
                border-radius: 10px;
                aspect-ratio: 9 / 9;
                width: 100%;
                object-fit: cover;
            }
        }

        .info-impact {
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: center;

            h1 {
                font-family: $font-stack;
                font-size: 28px;
                font-weight: 600;
                color: $primary-text-color;
            }

            p {
                font-family: $font-stack;
                color: $primary-text-color;
                font-size: 12px;
                font-weight: 400;
            }

            button {
                width: 120px;
                background-color: $orange-color ;
                border: 1px solid;
                color: #FFEFE7;
                height: 40px;
                border-radius: 50px;
                align-self: center;
            }
        }
    }

    // titulo
    .title h3 {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        @include font();
    }

    // products card
    .section-products-health,
    .section-products-decoration {
        @include center();
        @include dsGrid(120px, 3fr, 10px);
        justify-items: center;


        .card {
            background-color: #FFDAC6;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            margin-bottom: 30px;
            position: relative;



            header {

                button {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    border: none;
                    background: none;
                    cursor: pointer;
                }




            }

            figure {
                margin: 20px;

                img {
                    width: 100%;
                    cursor: pointer;
                    background-color: black;

                }
            }

            footer {
                @include font();
                display: flex;
                flex-direction: column;
                margin: 20px;

                h5 {
                    font-size: 16px;
                }

                p {

                    font-size: 9.24px;
                }
            }
        }
    }

    // 
    .about-info {
        @include center();
        @include dsGrid(650px, 3fr, 20px);
        justify-items: center;
        justify-content: center;

        img {
            width: 73px;
            height: 73.85px;
        }

        .mission,
        .vision {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 30%;
            align-items: center;
            margin-top: 20px;

        }

        p {
            @include font();
            color: #E86424;
            font-weight: 500;
        }



    }


    // gallery
    .gallery {
        @include center();

        .images {
            @include dsGrid(250px, 3fr, 20px);

            justify-items: center;

            img {
                width: 80%;
                aspect-ratio: 7/9;
                object-fit: 20px;
                border-radius: 20px;
            }
        }
    }

    .location {
        @include center();

        .map {

            img {
                width: 100%;
            }
        }

        address {
            @include font();
            text-align: center;

            h4 {
                font-weight: 400;
                font-size: 20px;
                color: #E86424;
            }

            h5 {
                font-weight: 400;
                font-size: 15px;
                color: #E86424;

            }
        }
    }
}

.footer-class {
    background-color: $orange-color;
    @include font();
    display: flex;
    @include dsGrid(320px, 1fr, 10px);
    justify-content: center;
    align-items: center;
    text-align: center;


    .head {
        @include center();

        h3 {
            font-weight: 500;
            font-size: 31px;
            color: $primary-color;
        }
    }

    .list {
        @include center();

        ul {
            @include dsGrid(320px, 2fr, 20px);

            li {
                list-style: none;
                font-size: 24px;
                font-weight: 400;
                color: $primary-color;
            }
        }
    }

    .iconos {
        @include center();
        display: flex;
        gap: 20px;
        justify-content: center;

    }
}

@media (min-width: 720px) {
    nav {
        li {

            .cart,
            .profile,
            .wishlist {
                display: flex;
            }
            .menu{
                display: none;
            }
        }
    }

    main {
        .section-main {
            display: flex;
            flex-direction: row-reverse;

            .info-impact {
                gap: 100px !important;
            }
        }

        .section-products-decoration,
        .section-products-health {
            @include dsGrid(250px, 3fr, 10px);
        }
    }

    .footer-class {
        .iconos {
            @include dsGrid(320px, 2fr, 20px);
        }
    }
}